services:
  app:
    build:
      args:
        user: hatem
        uid: 1006
        gid: 1006
      context: ./
      dockerfile: Dockerfile
    image: unified-registration-image
    container_name: unified-registration-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
      - ./local.ini:/usr/local/etc/php/conf.d/local.ini
    networks: 
      - proxy

  nginx:
    image: nginx:1.17-alpine
    container_name: unified-registration-server
    restart: unless-stopped
    tty: true
    networks:
      - proxy
    depends_on:
      - app
    volumes:
      - ./:/var/www
      - ./nginx-app.conf:/etc/nginx/conf.d/default.conf
      - ./storage/logs/nginx/error.log:/var/log/nginx/error.log
      - ./storage/logs/nginx/access.log:/var/log/nginx/access.log
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.unified-registration.rule=Host(`furqanshop.com`) && PathPrefix(`/unified-registration`)"
      - "traefik.http.routers.unified-registration.entrypoints=http"
      - "traefik.http.routers.unified-registration.middlewares=unified-registration-add-slash,unified-registration-security@docker"
      - "traefik.http.routers.unified-registration.entrypoints=https"
      - "traefik.http.routers.unified-registration.tls=true"
      - "traefik.http.routers.unified-registration.tls.certresolver=cloudflare"
      - "traefik.http.middlewares.unified-registration-security.headers.contentsecuritypolicy=upgrade-insecure-requests"
      - "traefik.http.middlewares.unified-registration-add-slash.redirectregex.regex=^(https?://[^/]+/unified-registration)$$"
      - "traefik.http.middlewares.unified-registration-add-slash.redirectregex.replacement=$${1}/"
      - "traefik.http.middlewares.unified-registration-add-slash.redirectregex.permanent=true"

networks:
  proxy:
    external: true
