name: Auto Deploy - Unified Registration System

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            docker exec -w /var/www unified-registration-app git config --global --add safe.directory /var/www
            docker exec -w /var/www unified-registration-app git pull --no-rebase
            docker exec -w /var/www unified-registration-app composer install --ignore-platform-reqs -q --no-progress
